.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.btn {
    position: absolute;
    width: 55px;
    top: 25px;
    right: 25px;
}

.sub-container {
    display: flex;
    align-items: self-end;
    justify-content: center;
    grid-gap: 20px;
    gap: 20px;
    margin: 0 0 1.5rem 0;
    height: 500px;
}

.bar {
    width: 25px;
    background: #2B50AA;
    border-radius: 4px;
}

.bar-num {
    transition: all .5s ease;
}

@media (max-width: 550px) {
    .sub-container {
        gap: 7px; 
    }
    .bar{
        width: 13px;
    }
    .sub-container p {
        margin: 0;
    }
}